Binary/
Elevation_data/
Geotiffs/
Masks/
Orthophotos/
Orthophotos_backup/
OSM_data/
yOrtho4XP_Overlays
Previews/
Extents/Auto
.tmp/

tmp/
tmp_backup/
Tiles/
**/Ortho4XP.log
**/__pycache__
**/Thumbs.db
**/*.bak
**/*.swp
.last_gui_params.txt
**/.DS_Store
